.rbc-calendar {
    font-family: "Segoe UI", sans-serif;
}

.rbc-event {
    background-color: #2563eb !important;
    border: none !important;
}

.rbc-toolbar button {
    background-color: #f1f5f9;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin: 0 4px;
    padding: 4px 10px;
}
